<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
	
<configuration>
	<!-- 配置读取database.properties里面连接数据库信息 --> 
	<properties resource="database.properties"></properties>
	<!-- 配置mybatis环境信息 -->
	<environments default="development">
		<environment id="development">
			<!-- 配置事务的管理,采用jdbc的方式 -->
			<transactionManager type="jdbc"></transactionManager>
			<!-- 数据源信息,type中填入连接池 -->
			<dataSource type="pooled">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>


	  <!-- 建立与stumapper.xml映射文件的对应关系 -->
	<mappers>
		<mapper resource="com/oracle/dao/StuMapper.xml"/>
	</mappers>

</configuration>